<% if user_belongs_to_this_project?(@task.group.project)%>
  <%= render partial: 'layouts/errors', locals:{subject: @task}%>
  <h1>Create a new task </h1>
  <%= form_for [@group,@task] do |t| %>
    <%= t.label :name %> <%=t.text_field :name %>
    <%= t.label :description %> <%=t.text_area :description %>
    <%= t.submit :create_task %>
  <%end%>
<%end%>
