<h1>Create a new task </h1>
<%if @task.errors.any? %>
  <%@task.errors.full_messages.each do |message| %>
    <%=message %>
  <%end%>
<%end%>
<%= form_for [@group.project,@group,@task] do |t| %>
  <%= t.label :name %> <%=t.text_field :name %>
  <%= t.label :description %> <%=t.text_area :description %>
  <%= t.submit :create_task %>
<%end%>
