<div class="row">
  <% collection.find_each do |task|%>
    <div class="col-sm-12">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= link_to task.name, task_path(task) %></h3>
          <p><%=task.description%></p>
            <div class="btn-group" role="group">
              <div id="previous-status-button">
                <%if task.status == 'In progress'%>
                  <%= button_to 'Pending', change_status_path(id: task.id, next_status: 'Pending'), method: :patch, class:"btn btn-warning"%>
                <%elsif task.status == 'Finished'%>
                  <%= button_to 'In progress', change_status_path(id: task.id, next_status: 'In progress'), method: :patch, class:"btn btn-warning"%>
                <%end%>
              </div>
              <div id="next-status-button">
                <% if task.status == 'Pending' %>
                  <%= button_to 'In progress', change_status_path(id: task.id, next_status: 'In progress'), method: :patch, class:"btn btn-success"%>
                <% elsif task.status == 'In progress'%>
                  <%= button_to 'Finished ', change_status_path(id: task.id, next_status: 'Finished'), method: :patch, class:"btn btn-success"%>
                <%end%>
              </div>
            </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
