<% content_for :title, 'Create a project' %>
<div class="main-wrapper container"%>
  <%= render partial: 'layouts/errors', locals:{subject: @project}%>
  <div id="form-wrapper" class="col-sm-8 col-sm-offset-2">
    <%= form_for @project, class:'form-horizontal' do|f|%>
      <div class = 'form-group'>
        <%=f.label :name%>
        <%=f.text_field :name, class: 'form-control'%>
      </div>
      <div class = 'form-group'>
        <%=f.label :description%>
        <%=f.text_area :description, class: "form-control" %>
      </div>
      <div class='form-group'>
        <%=f.submit 'Create project', class: 'btn btn-default'%>
      </div>
    <%end%>
  </div>

</div>
